
body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #004d98; 
    padding: 25px;
    text-align: left;
    border-bottom: 5px solid #a50044; 
}

#inicio {
    background-color: #edbb00; 
    padding: 10px 20px;
    border-radius: 50px;
    color: #004d98; 
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
    display: inline-block; 
    margin: 10px;
    
}

#linea {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 15px;
}

#cuerpo {
    background-color: #ffffff;
    padding: 40px;
    color: #333333;
    max-width: 800px;
    margin: 20px auto; 
    border-radius: 15px;
    text-align: center; 
}

img {
    width: 180px;
    height: auto; /* Mantiene la proporción del escudo */
    border-radius: 0; 
    display: block;
    margin: 0 auto 20px auto; /* Centra la imagen y le da espacio abajo */
}

h1 {
    color: #a50044; 
    display: inline-block;
    padding-bottom: 5px;
}