.header {
    background-color: blue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: left;
    font-size: 20px;
    padding: 15px;
}



.banner {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.caja {
    width: calc(25% - 20px);
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    
}



.caja img {
    width: 60%;
    height: 200px;
    object-fit: cover;
}


.caja a {
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}