.header {
    background-color: rgb(53, 127, 211); 
    padding: 25px;
    text-align: left;
    border-bottom: 5px solid #272a2d; 
}

#inicio {
    background-color: #000000; 
    padding: 10px 20px;
    border-radius: 50px;
    color: #ffff; 
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
    display: inline-block; 
    margin: 10px;
}


.banner {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.caja {
    width: calc(25% - 20px);
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    
}



.caja img {
    width: 60%;
    height: 200px;
    object-fit: cover;
}


.caja a {
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}